# Project Guidelines

## General
- Do not leave comments of your changes (comments should only be used to explain why something is done, not what is done)
    - e.g. "// Changed text-sm to text-xs" should never be added in TS/TSX files
- Use meaningful commit messages after every task but ask user before commiting
- Use `;` to string commands in terminal since `&&` have escaping issues
- Do not create backup files since we use versioning system

## Code Style & Patterns

- Prefer composition over inheritance
- Use repository pattern for data access
- Don't forget error handling

## Testing Standards

- Unit tests required for business logic
  - Using Vitest + React Testing Library
- Integration tests for API endpoints
- E2E tests for critical user flows
- Always ensure tests exist for additions/changes

## Misc

- Allowed tags for WODS are 'Chipper', 'Couplet', 'Triplet', 'EMOM', 'AMRAP', 'For Time', 'Ladder'
